/*

See also https: //github.com/yzane/vscode-markdown-pdf/blob/master/styles/markdown.css

https: //github.com/yzane/vscode-markdown-pdf/tree/master

*/


:root {
	font: 100% verdana, arial, sans-serif;
}

body {
	font-size: 14pt;
}

a {
	color: crimson;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

em {
	font-style: italic;
}

h1 {
	color: #880000;
	border-width: 0;
	font-size: 120%;
	margin: 0 0 2rem 0;
}

h2 {
font-size: 100%;
}

h3 {

}

h2,
h3 {
	border-width: 0;
	color: #880000;
	margin: 0;
	padding: 0;
}

img {
	max-width: 400px;
	width: 100%;
}

p {
	color: #000;
	line-height: 150%;
	margin: 0 0 1.2rem 0;
}

li {
	margin: 0;
	padding-top: 0;
}

mark {
	background-color: #ff0;
}

ul {
	margin: 0 0 1.2rem 0;
	padding-top: -1em;
}


@media print {
	body {
		font-size: 14pt;
		background: #fff !important;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	h1 {
		font-size: 150%;
		margin: 0 0 2rem 0;
	}

	h2 {
		font-size: 90%;
		margin: 0 0 0 0;
	}

	h1,
	h2,
	h3 {
		page-break-after: avoid;
	}

	img {
		max-width: 400px;
		width: 100%;
	}

	nav,
	.sidebar,
	.footer,
	.no-print {
		display: none !important;
	}

	p,
	li {

	}
}
