# personality

## Agenda

* Find and list what tests I have done
* Add more


## True colors ~ https://truecolorsintl.com/

* Green, red, blue, gold

## Myers Briggs

* Theo: https://personalitypage.com/html/INFP.html
