body {
    padding: 0;
    margin: 0;
    color: #444;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body>div:last-of-type {
    font-size: 0;
    opacity: 0;
}

.spoonacular-ingredient {
    width: 110px;
    height: auto !important;
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: 500;
}


#spoonacular-ingredient-vis-grid .spoonacular-ingredient {
    border: 1px solid rgba(30, 30, 30, 0.30);
    border-radius: 5px;
    font-size: 12px;
    background: #fff;
    padding: 10px 0;
}

.spoonacular-ingredients-menu:before {
    content: "Ingredients";
    display: block;
    width: 100%;
    margin: 0 0 10px;
    font-size: 26px;
    color: #222;
    font-weight: 600;
}


.chartjs-size-monitor:before {
    content: "Taste";
    display: block;
    width: 100%;
    margin: 0 0 10px;
    font-size: 26px;
    color: #222;
    font-weight: 600;
}

.spoonacular-ingredient div.spoonacular-name {
    bottom: 6px;
}